<html>
  <head></head>
  <body>
    <table class="table">
      <tbody>
        
        <tr ng-repeat="item in list.foundItems">  
          <td>{{ item.short_name }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td><button class="btn btn-danger" ng-click="list.onRemove({index: $index})">Don't want this one!</button></td>
        </tr>
    </tbody>
    </table>

  <div class="alert alert-danger" role="alert" ng-if="list.message">{{list.message}}</div>
  
  </body>
  
</html>